*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

:root {
  color-scheme: light dark;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: light-dark(#F1F1F1, #121212);
  color: light-dark(#000, #FFF);
}

h1, h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: light-dark(#003366, #F1F1F1);
}

.icon-button {
  border: 0;
  background-color: transparent;
  color: light-dark(#003366, #F1F1F1);

  > svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

button {
  border: 0;
  background-color: light-dark(#003366, #F1F1F1);
  color: light-dark(#F1F1F1, #003366);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

p {
  margin: 0;
}

.inline-alert {
  color: black;
  padding: 8px;

  &.red {
    background: #FEECEB;
    border: 1px solid #F9423A;
  }

  &.yellow {
    background: #FFF4E6;
    border: 1px solid #FF9900;
  }

  &.green {
    background: #E6F2EF;
    border: 1px solid #007B5F;
  }
}
