@import '../../styles/common.css';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media print {
  ec-header, #upload, #preview, #generate {
    display: none;
  }
}
