<ec-alerts></ec-alerts>
<div class="container">
  <ec-header></ec-header>
  <ec-upload id="upload"></ec-upload>

  <div hidden id="preview">
    <h2>Preview Data</h2>
    <div class="content">
      <ec-data-errors id="data-errors"></ec-data-errors>
      <ec-data-preview id="data-preview"></ec-data-preview>
    </div>
  </div>

  <div id="generate" hidden>
    <h2>Generate Chart</h2>
    <div class="generator" id="generate-chart">
      <button data-chart="bar">Generate Bar Chart</button>
      <button data-chart="line">Generate Line Chart</button>
      <button data-chart="pie">Generate Pie Chart</button>
    </div>
  </div>

  <div id="chart-container" hidden>
    <ec-chart id="chart"></ec-chart>
  </div>
</div>
